body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #4aa3ec;
}

#cabecalho .nav .nav-link.active {
    background-color: white;
    color: #4aa3ec;
}

#cabecalho .nav .nav-link, .navbar-brand, .navbar-brand:hover, .nav-cardapio .nav-link.active:hover {
    color: white;
}


.carousel-item img {
    max-height: 1000px;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family:'Comfortaa', cursive;;
}


#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #4aa3ec;
}

.nav-cardapio .nav-link.active , #fale-conosco button{
    background-color: #4aa3ec;
    color: white;
}

.nav-cardapio .nav-link:hover {
    color: #4aa3ec;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.card-img {
    max-height: 515px;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}